services:
    mosquitto:
        image: eclipse-mosquitto:2
        container_name: sitesense-mqtt
        ports:
            - "1883:1883"
        volumes:
            - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
